* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#navbarNavDropdown{
    position: fixed;
    right: 3%;
}
.carousel-inner img{
    height: 40vw;
    
}

h2{
    text-align: center;
    padding-top: 10px;
} 


.cards img{
    width: 400px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 5vw;
    
}

@media screen and (max-width:1024px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 25vw;
        margin-right: 25vw;
    }
}

@media screen and (max-width:740) {
    .cards {
        width: 375px;
        padding-left: 0px;
    }


}